In [1]:
print(10)
print(100)

10
100

In [3]:
print(4.2e-4)
print(type(4.2e-4))

0.00042
<class 'float'>

In [10]:
display('Helo World')
print('Helo Wolrd')
print(type('apa'))
print('Hello Wolrd')
print("Can't")
print('"She" knows')
print('''' "She" knows she can't do it" ''')
print('')

'Helo World'

Helo Wolrd
<class 'str'>
Hello Wolrd
Can't
"She" knows
' "She" knows she can't do it"

In [12]:
print(True)
print(False)

print(True + False)
print(True + True)
print(False + False)

True
False
1
2
0

In [14]:
a = 'b'
print(a)

a = 500
a

b

500

In [17]:
q = w = e = 10
print(q)
print(w)
print(e)

z, x, y = 1, 2, 'a'
print(z)
print(x)
print(y)

10
10
10
1
2
a

In [18]:
age = 25
_shot1 = 'dor'
_shot1

'dor'

In [21]:
a = 5
b = 2
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b) #Pembagian desimal
print(a ** b) #pangkat
print(a % b) # modulo
print(a + b + 10)

7
3
10
2.5
2
25
1
17

In [27]:
a = 5
b = 2
c = 2
print(a == b)
print(c == b)
print(a !=b) #Tidak sama dengan
print(a > b)
print(a >= b)
print(a < b)
print(a <= b)

False
True
True
True
True
False
False

In [32]:
q = 'Py'
w = 'thon'
print(q + w)
print('Hacktive' + '8' )
print(q * a)
print(q in 'Python')
print(w in 'Pyton')

Python
Hacktive8
PyPyPyPyPy
True
False

In [33]:
h = 'HaCTivE8 KampuS'
print(h.upper())
print(h.lower())
print(h.capitalize())
print(h.swapcase())
print(h.title())

HACTIVE8 KAMPUS
hactive8 kampus
Hactive8 kampus
hActIVe8 kAMPUs
Hactive8 Kampus

In [34]:
#index ke 0  1  2.   3.   4.          5            6.   7.  8. 9. 10
daftar = [1, 2, 43, 'a', True, ['b', 300, False], 4.6, 1+1, a, q, w]
# index minus
py = ['Python', 'KS19', 'asoyyy']
# py = [12, 2, 10]

In [35]:
# print(type(daftar))
# print(daftar)
# print(daftar[3])
# print(daftar[5])
# print(daftar[7])
# print(daftar[-3])
# print(daftar[1:6])
print(daftar + py)
print(py * 3)
print(len(daftar))
print(max(py))
print(min(py))

[1, 2, 43, 'a', True, ['b', 300, False], 4.6, 2, 5, 'Py', 'thon', 'Python', 'KS19', 'asoyyy']
['Python', 'KS19', 'asoyyy', 'Python', 'KS19', 'asoyyy', 'Python', 'KS19', 'asoyyy']
11
asoyyy
KS19

In [36]:
#index ke 0  1  2    3    4           5            6    7   8  9  10
daftar = [1, 2, 43, 'a', True, ['b', 300, False], 4.6, 1+1, a, q, w]
# index minus                                               -3 -2 -1
py = ['Python', 'KS19', 'asoyyy']

daftar[8] = py
print(daftar)
daftar[-2] = 'udah malem'
print(daftar)
# del daftar[3]
print(daftar)
daftar[:3] = [1.5]
print(daftar)

[1, 2, 43, 'a', True, ['b', 300, False], 4.6, 2, ['Python', 'KS19', 'asoyyy'], 'Py', 'thon']
[1, 2, 43, 'a', True, ['b', 300, False], 4.6, 2, ['Python', 'KS19', 'asoyyy'], 'udah malem', 'thon']
[1, 2, 43, 'a', True, ['b', 300, False], 4.6, 2, ['Python', 'KS19', 'asoyyy'], 'udah malem', 'thon']
[1.5, 'a', True, ['b', 300, False], 4.6, 2, ['Python', 'KS19', 'asoyyy'], 'udah malem', 'thon']

In [37]:
tapel = (1, 2, 43, 'a', True, ['b', 300, False], 4.6, 1+1, a, q, w)
print(tapel)
print(tapel[1:5])

(1, 2, 43, 'a', True, ['b', 300, False], 4.6, 2, 5, 'Py', 'thon')
(2, 43, 'a', True)

In [38]:
(z, x, y) = (1, 2, 'a')

In [39]:
type(y)

str

In [ ]:
kamus = {
    'apa':'what', 'siapa':'who', 'bagaimana':'how'
}
print(type(kamus))
print(kamus['apa'])
kamus['kapan'] = 'when'
print(kamus)
del kamus['apa']
print(kamus)
# kamus.clear()
print(kamus)

In [40]:
alamat = {}

alamat['kota'] = ['madagascar'] 
alamat['jalan'] = 'situ baru'
alamat['nomor rumah'] = 10
alamat['pohon'] = ['cendana', 'mahoni', 'beringin']
alamat['akses'] = {'KRL':'bisa', 'TJ':{'bisa':'tapi susah'}, 'ojol':'tidak'}

print(alamat)
print(alamat['pohon'][1])
print(alamat['akses']['TJ']['bisa'])
print(alamat.items())
print()
print(alamat.values())
print()
print(alamat.keys())

{'kota': ['madagascar'], 'jalan': 'situ baru', 'nomor rumah': 10, 'pohon': ['cendana', 'mahoni', 'beringin'], 'akses': {'KRL': 'bisa', 'TJ': {'bisa': 'tapi susah'}, 'ojol': 'tidak'}}
mahoni
tapi susah
dict_items([('kota', ['madagascar']), ('jalan', 'situ baru'), ('nomor rumah', 10), ('pohon', ['cendana', 'mahoni', 'beringin']), ('akses', {'KRL': 'bisa', 'TJ': {'bisa': 'tapi susah'}, 'ojol': 'tidak'})])

dict_values([['madagascar'], 'situ baru', 10, ['cendana', 'mahoni', 'beringin'], {'KRL': 'bisa', 'TJ': {'bisa': 'tapi susah'}, 'ojol': 'tidak'}])

dict_keys(['kota', 'jalan', 'nomor rumah', 'pohon', 'akses'])

In [41]:
a = 10
b = 2
c = 10

d = (
    a == c
    or c==a
    or a == b
)
d

True